*{margin: 0; padding: 0; overflow: hidden; border: none;}
            
#background {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#back {
    position: absolute;
    top: 9vh; 
    left: 9vw; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}

#text{
    position: absolute;
    top: 9vh; 
    left: 9vw; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}

.back_img{   
    width: 7vw
}

.rhythme {
    position: fixed;
    width: 150px;
    height: 150px;
    top: 41%;
    left: 29.5%; 
    transform: translate(-50%, -50%); 
    z-index: 6; 
}

.shadow {
    position: fixed;
    width: 60px;
    top: 50%;
    left: 29.8%; 
    opacity: 0.5;
    transform: translate(-50%, -50%); 
    z-index: 5; 
}