*{margin: 0; padding: 0; overflow: hidden; border: none;}
            
#background {
    position: relative;
    width: 100vw;
    height: 100vh;
}

button {
    border: none;
    background-color: transparent;
}

#back {
    position: absolute;
    top: 9vh; 
    left: 9vw; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}

#text{
    position: absolute;
    top: 9vh; 
    left: 9vw; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}


#hat_box{
    position: absolute;
    top: 30%; 
    left: 75%; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}


#clothes_box{
    position: absolute;
    top: 70%; 
    left: 75%; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}

.clothes_box{
    width: 20vw;
    height: 35vh;
   
}

.press{
    position: fixed;
    width: 400px;
    height: 40px;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%); 
    z-index: 5;

}

#hat{
    position: absolute;
    top: 37%; 
    left: 74.5%; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}

#clothes{
    position: absolute;
    top: 67%; 
    left: 74.5%; 
    transform: translate(-50%, -50%);        
    background-color: transparent;
}

.hat_img{

width: 20vw;

}

.clothes_img{

    width: 30vw;
    
    }

.back_img{   
    width: 7vw
}


#raise_arrow1 {
    position: absolute;
    top: 30%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#lower_arrow1 {
    position: absolute;
    top: 30%; 
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: transparent;

}

#raise_arrow2 {
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 2;

}

#lower_arrow2 {
    position: absolute;
    top: 70%; 
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 2;

}

.arrow_img {
    width: 7vw;
    height: 7vw;
}

.reset_button{

width: 5vw;

}

#reset_hat{

    position: absolute;
    top: 15%; 
    left: 62%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    
}

#reset_clothes{

    position: absolute;
    top: 55%; 
    left: 62%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 4;
    
}


.rhythme {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 43%;
    left: 29.5%; 
    transform: translate(-50%, -50%); 
    z-index: 6; 
}

.shadow {
    position: fixed;
    width: 120px;
    top: 53%;
    left: 30.3%; 
    opacity: 0.5;
    transform: translate(-50%, -50%); 
    z-index: 5; 
}

.wearing_hat {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 43.1%;
    left: 29.5%;
    transform: translate(-50%, -50%); 
    z-index: 7;
    /* display: none; */
}

.wearing_clothes {
    position: fixed;
    width: 200px;
    height: 200px;
    top: 42.8%;
    left: 29.5%;
    transform: translate(-50%, -50%); 
    z-index: 7;
    /* display: none; */
}