*{margin: 0; padding: 0; overflow: hidden;}

#image {
    position: relative;
    width: 400vw; 
    height: 100vh;  
    overflow: hidden; 
    animation: moveBackground 25s linear infinite;
}

.background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
}

.background:nth-child(1) {
    background-image: url('game_img/game_background1.png'); 
    left: 0; 
    z-index: 5; 
}

.background:nth-child(2) {
    background-image: url('game_img/game_background2.png');
    left: 100vw; 
    z-index: 4; 
}
.background:nth-child(3) {
    background-image: url('game_img/game_background3.png'); 
    left: 200vw; 
    z-index: 3;
}

.background:nth-child(4) {
    background-image: url('game_img/game_background1.png'); 
    left: 300vw; 
    z-index: 2; 
}



.title{

    position: fixed;
    width: 60vw;
    height: 20vh;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 7;

    
}

@keyframes moveBackground {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-300vw); 
    }
}

button {
    border: none;
    background-color: transparent;
}

#play {
    position: absolute;
    top: 60vh; 
    left: 50vw;
    transform: translate(-50%, -50%);
}

#characters {
    position: absolute;
    top: 74vh; 
    left: 50vw; 
    transform: translate(-50%, -50%);
}

#exit {
    position: absolute;
    top: 88vh; 
    left: 50vw; 
    transform: translate(-50%, -50%);
}

.button_img {
    width: 22vw;
}
