*{margin: 0; padding: 0; overflow: hidden;}

#image {
    position: relative;
    width: 400vw; 
    height: 100vh;  
    overflow: hidden; 
    animation: moveBackground 25s linear infinite;
}

.background {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
}